:root {
  --color--primary: #1e7be2;
  --color--background: #f1f1f1;
  --color--text: #333;
}

body {
  background-color: var(--color--background);
  color: var(--color--text);
}

.container {
  max-width: 1400px;
  margin: 2rem auto;
  padding: 0 2rem;
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}

.loader {
  border-radius: 80%;
  display: block;
  height: 40px;
  width: 40px;
  position: relative;
  animation: spin 0.675s linear 0s infinite normal;
  background-color: transparent;
  margin: 5rem auto 0;
}

.loader::before,
.loader::after {
  content: '';
  display: block;
  position: absolute;
}

.loader::before {
  border-radius: 0 90px 90px 0;
  height: 40px;
  width: 50%;
  top: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(var(--color--background), var(--color--primary));
}

.loader::after {
  border-radius: 90px;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--color--background);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.movie-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-item {
  width: calc((100% / 3) - 2rem);
  cursor: pointer;
  position: relative;
  background-color: white;
  border-radius: 4px;
  margin: 0 1rem 1rem 1rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  height: auto;
  max-height: 290px;
  transition: max-height 300ms ease-in-out;
  will-change: max-height;
}
.movie-item._is_expanded {
  max-height: 700px;
}

.movie-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.movie-item h3 {
  padding: 0 1rem;
}

.movie-item__content {
  padding: 0 1rem 1rem 1rem;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.movie-item._is_expanded .movie-item__content {
  opacity: 1;
}

.movie-search-input {
  display: block;
  margin: 2rem auto 2rem;
  width: 80%;
  box-shadow: none;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
}

.movie-search-input:focus {
  outline: none;
  border-color: var(--color--primary);
}

.movie-search-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.movie-search-label {
  font-size: 1.5rem;
}

.movie-search-no-results {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
}
